In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/workspaces/ds_project/csv/data0.csv")

In [3]:
df.head()

,Unnamed: 0,song_id,0,1,2,3,4,5,6,7,...,11,12,13,14,15,16,17,18,19,label
0,0,1,-496.69025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,1,1,-496.69025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2,1,-496.69025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,3,1,-496.69025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,4,1,-496.69025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [ ]:
df =df.drop('Unnamed: 0', axis=1)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65953 entries, 0 to 65952
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  65953 non-null  int64
 1   song_id     65953 non-null  int64
 2   0           65953 non-null  float64
 3   1           65953 non-null  float64
 4   2           65953 non-null  float64
 5   3           65953 non-null  float64
 6   4           65953 non-null  float64
 7   5           65953 non-null  float64
 8   6           65953 non-null  float64
 9   7           65953 non-null  float64
 10  8           65953 non-null  float64
 11  9           65953 non-null  float64
 12  10          65953 non-null  float64
 13  11          65953 non-null  float64
 14  12          65953 non-null  float64
 15  13          65953 non-null  float64
 16  14          65953 non-null  float64
 17  15          65953 non-null  float64
 18  16          65953 non-null  float64
 19  17          65953 non-null  float64
 20  18          65953 non-null  float64
 21  19          65953 non-null  float64
 22  label       65953 non-null  int64
dtypes: float64(20), int64(3)
memory usage: 11.6 MB

In [ ]:
df_zero = rows_with_zero = df[(df.drop(columns=['label']) == 0).any(axis=1)]

In [5]:
df.describe()

,Unnamed: 0,song_id,0,1,2,3,4,5,6,7,...,11,12,13,14,15,16,17,18,19,label
count,65953.000000,65953.000000,65953.000000,65953.000000,65953.000000,65953.000000,65953.000000,65953.000000,65953.000000,65953.000000,...,65953.000000,65953.000000,65953.000000,65953.000000,65953.000000,65953.000000,65953.000000,65953.000000,65953.000000,65953.0
mean,32976.000000,5.163465,-148.966562,144.166908,-19.661125,32.163330,-5.032073,18.341029,-14.040508,11.017346,...,0.148706,-1.885226,-1.900705,0.098849,-2.642907,-1.452092,-1.918440,-3.822167,-0.442268,0.0
std,19039.135489,2.904421,103.548621,39.823469,29.348795,20.071583,17.183795,13.577848,14.541158,13.282093,...,9.963524,9.427829,8.646213,8.151026,8.842190,7.795048,8.403997,8.730898,9.256161,0.0
min,0.000000,1.000000,-550.015500,-26.006157,-106.666176,-31.384954,-76.938210,-40.811730,-70.369330,-32.920082,...,-52.917763,-48.488388,-40.279984,-37.842750,-46.869910,-32.513397,-36.516370,-41.825356,-41.094677,0.0
25%,16488.000000,3.000000,-179.966110,125.192780,-39.602524,18.614809,-16.929806,9.588780,-23.689034,1.578062,...,-6.021281,-7.740549,-7.301001,-5.157850,-8.315825,-6.543082,-7.458091,-9.499858,-6.430932,0.0
50%,32976.000000,5.000000,-130.345960,150.088460,-21.600925,31.399538,-4.854940,18.715178,-14.041838,10.483432,...,0.211378,-1.498721,-1.499332,0.133694,-2.304806,-1.405481,-1.910962,-3.647076,-0.611348,0.0
75%,49464.000000,7.000000,-85.578690,170.352510,-1.229203,44.788597,6.864407,27.545849,-3.707698,19.613659,...,6.610762,4.041812,3.699539,5.526267,3.073990,3.423475,3.274816,1.467750,4.700503,0.0
max,65952.000000,10.000000,64.599710,242.295880,87.433586,153.115720,65.810715,81.667915,50.662697,62.626648,...,37.075310,45.876335,37.636208,33.253506,37.001694,36.094013,36.983147,46.570244,49.059288,0.0

In [ ]:
sns.pairplot(df)

In [ ]:
plt.plot(df[:, 1:-1])